@font-face {
    font-family: 'Consolas';
    src: url('../fonts/consolas.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

body {
    font-family: 'Consolas', sans-serif;
    color: #000;
    background-color: #fff;
    margin: 0;
}

.container {
    max-width: 778px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    color: #000;
    font-family: 'Consolas', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.jspath {
    padding-top: 80px;
    background-color: #fff;

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
        margin-bottom: 64px;
    }

    &__title {
        color: #0062ff;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
    }

    &__line {
        height: 1px;
        max-width: 143px;
        width: 100%;
        background-color: #dbdbdb;
        margin-bottom: 5px;
    }

    &__books {
        &-img {
            position: relative;
        }

        &-date {
            position: absolute;
            top: 13px;
            left: 20px;
            width: 120px;
            height: 100px;
            background: rgba(255, 255, 255, 0.9);
            color: #1a1a1a;
            font-family: 'Merriweather', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            padding: 24px 29px 22px 29px;
            text-align: center;

            span {
                font-size: 24px;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    height: 5px;
                    width: 5px;
                    background: url('../images/triangle-black.svg') no-repeat center/cover;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -12px;
                }
            }
        }

        &-subtext {
            color: #202326;
            font-family: 'Arial', sans-serif;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 18px;
            padding-top: 20px;
            background-color: #fff;
            position: relative;
            padding-bottom: 50px;
            border-bottom: 1px solid #dcdcdc;

            &::after {
                position: absolute;
                content: '';
                height: 9px;
                width: 12px;
                background: url('../images/triangle-white.svg') no-repeat center/cover;
                top: -13px;
                left: 80px;
            }
        }
    }
}

.quote {
    padding: 55px 0 45px 0;
    background-color: #fff;

    &__title {
        margin-bottom: 21px;
    }

    &__inner {
        display: flex;
        gap: 24px;
    }

    &__mark {
        flex: 0 0 34px;
    }

    &__block {
        margin: 0;
        padding-top: 9px;
        color: #1a1a1a;
        font-family: 'OpenSans-Italic', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;

        &-text {
            margin-bottom: 25px;
        }

        &-author {
            color: #777;
            font-size: 16px;
        }
    }
}

.adv {
    background-color: #ededed;
    padding: 34px 0 36px 0;

    &__box {
        max-width: 610px;
        width: 100%;
        margin: 0 auto;

        &-text {
            margin-bottom: 17px;
            color: #000;
            font-family: 'Helvetica', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
        }

        &-link {
            color: #0035ff;
            font-family: 'Helvetica', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            text-decoration-line: underline;
        }

        &-img {
            .mobile {
                display: none;
            }
        }
    }
}

.conclusion {
    background-color: #fff;
    padding: 45px 0 74px 0;

    &__title {
        margin-bottom: 26px;
    }

    &__text {
        color: #202326;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}

.rating {
    background-color: #ededed;
    padding: 40px 0;

    &__title {
        color: #202326;
        font-family: 'Consolas', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__stars {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;

        input {
            display: none;

            &:checked ~ label:before {
                content: url('../images/star-yellow.svg');
            }
        }

        label {
            cursor: pointer;

            &:before {
                content: url('../images/star-grey.svg');
            }
        }
    }

    &__form {
        &-box {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            margin-bottom: 20px;
            width: 100%;
        }

        &-textarea,
        &-input {
            border-radius: 6px;
            border: 1px solid #e6e6e6;
            background: #fff;
            color: #222;
            font-family: 'Arial', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            outline-color: #7f7f7f;
            outline-width: 2px;
            padding: 0 20px;

            &::placeholder {
                color: #777;
            }
        }

        &-input {
            max-width: 226px;
            width: 100%;
            height: 50px;
        }

        &-textarea {
            display: block;
            padding: 20px;
            resize: none;
            height: 120px;
            max-width: 738px;
            width: 100%;
            margin-bottom: 20px;
        }

        &-submit {
            max-width: 226px;
            width: 100%;
            height: 44px;
            background-color: #0062ff;
            color: #fff;
            font-family: 'Arial', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 2px;
            border: none;
            cursor: pointer;
            text-transform: uppercase;
        }
    }

    &__select {
        max-width: 226px;
        width: 100%;
        position: relative;

        &-current {
            display: flex;
            justify-content: space-between;
            gap: 5px;
            align-items: center;
            padding: 0 20px;
            border: 1px solid #e6e6e6;
            border-radius: 6px;
            background: #fff;
            height: 50px;
            cursor: pointer;
            color: #777;
            font-family: 'Arial', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            user-select: none;
            border: 2px solid transparent;

            &.active {
                color: #222;
            }

            &.border {
                border-color: #7f7f7f;
            }

            img {
                width: 10px;
                transform: rotate(180deg);
                transition: all 0.1s linear;

                &.active {
                    transform: rotate(0deg);
                }
            }
        }

        &-items {
            background-color: #fff;
            box-shadow: 0px 2px 15px 0px rgba(154, 154, 154, 0.5);
            position: absolute;
            top: 60px;
            display: none;
            width: 100%;

            &.active {
                display: block;
            }
        }

        &-item {
            width: 100%;
            height: 45px;
            border-left: 7px solid transparent;
            padding: 0 10px 0 18px;
            color: #222;
            font-family: 'Arial', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.15s linear;

            &:hover {
                border-color: #0062ff;
                background-color: #ededed;
            }
        }
    }
}

.posts {
    padding: 60px 0 75px 0;
    background-color: #fff;

    &__title {
        margin-bottom: 40px;
    }

    .swiper {
        &-slide {
            width: 226px;
        }

        &-img {
            width: 100%;
            margin-bottom: 19px;
        }

        &-text {
            color: #272522;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        &.special {
            padding-right: 0;
        }
    }

    .title {
        font-size: 23px;
        font-weight: 700;
        line-height: 36px;
    }

    .jspath {
        &__inner {
            justify-content: center;
            margin-bottom: 40px;
        }

        &__title {
            font-size: 23px;
            line-height: 25px;
            flex: 0 0 190px;
        }

        &__line {
            max-width: 30px;
        }

        &__books {
            display: flex;
            flex-direction: column;

            &-date {
                display: none;
            }

            &-img {
                overflow-x: auto;
                position: relative;
                padding-bottom: 15px;

                img {
                    width: 738px;
                }

                .simplebar-scrollbar {
                    top: -2px !important;
                    bottom: 0;
                    min-height: 0;
                    height: 7px;

                    &::before {
                        background-color: #0062ff;
                        opacity: 1;
                    }
                }

                .simplebar-track {
                    background-color: #e6e6e6;
                    border-radius: 5px;
                }

                .simplebar-track.simplebar-horizontal {
                    margin-right: 20px;
                    height: 3px;
                }
            }

            &-subtext {
                order: -1;
                padding: 0;
                margin-bottom: 26px;
                border: none;

                &::after {
                    display: none;
                }
            }
        }
    }

    .quote {
        padding: 33px 0 56px 0;

        &__title {
            margin-bottom: 12px;
        }

        &__inner {
            gap: 19px;
        }

        &__block {
            &-text {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .adv {
        padding: 22px 0 20px 0;

        &__box {
            &-text {
                margin-bottom: 14px;
            }

            &-img {
                .mobile {
                    display: block;
                }

                .desc {
                    display: none;
                }
            }
        }
    }

    .conclusion {
        padding: 25px 0 30px 0;

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .rating {
        &__title {
            margin-bottom: 15px;
        }

        &__stars {
            margin-bottom: 20px;
        }

        &__form {
            &-box {
                flex-wrap: wrap;
                gap: 10px;
                margin-bottom: 10px;
            }

            &-input {
                max-width: 100%;
            }

            &-textarea {
                margin-bottom: 10px;
            }
        }

        &__select {
            max-width: 100%;
        }
    }

    .posts {
        padding: 36px 0 66px 0;

        &__title {
            margin-bottom: 25px;
        }

        .swiper-wrapper {
            padding-bottom: 35px;
        }

        .swiper-pagination {
            bottom: 0;
        }

        .swiper-pagination-bullet {
            margin: 0 10px !important;
            height: 12px !important;
            width: 12px !important;
        }
    }
}
