@font-face {
  font-family: "Consolas";
  src: url("fonts/consolas.ttf") format("ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("fonts/Helvetica.ttf") format("ttf");
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("fonts/OpenSans-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("fonts/Merriweather-Regular.ttf") format("ttf");
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-family: "Consolas", sans-serif;
  color: #000;
  background-color: #fff;
  margin: 0;
}

.container {
  max-width: 778px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  color: #000;
  font-family: "Consolas", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.jspath {
  padding-top: 80px;
  background-color: #fff;
}
.jspath__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 64px;
}
.jspath__title {
  color: #0062ff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
.jspath__line {
  height: 1px;
  max-width: 143px;
  width: 100%;
  background-color: #dbdbdb;
  margin-bottom: 5px;
}
.jspath__books-img {
  position: relative;
}
.jspath__books-date {
  position: absolute;
  top: 13px;
  left: 20px;
  width: 120px;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  color: #1a1a1a;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding: 24px 29px 22px 29px;
  text-align: center;
}
.jspath__books-date span {
  font-size: 24px;
  position: relative;
}
.jspath__books-date span::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  background: url("../images/triangle-black.svg") no-repeat center/cover;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -12px;
}
.jspath__books-subtext {
  color: #202326;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  padding-top: 20px;
  background-color: #fff;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #dcdcdc;
}
.jspath__books-subtext::after {
  position: absolute;
  content: "";
  height: 9px;
  width: 12px;
  background: url("../images/triangle-white.svg") no-repeat center/cover;
  top: -13px;
  left: 80px;
}

.quote {
  padding: 55px 0 45px 0;
  background-color: #fff;
}
.quote__title {
  margin-bottom: 21px;
}
.quote__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.quote__mark {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 34px;
  flex: 0 0 34px;
}
.quote__block {
  margin: 0;
  padding-top: 9px;
  color: #1a1a1a;
  font-family: "OpenSans-Italic", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}
.quote__block-text {
  margin-bottom: 25px;
}
.quote__block-author {
  color: #777;
  font-size: 16px;
}

.adv {
  background-color: #ededed;
  padding: 34px 0 36px 0;
}
.adv__box {
  max-width: 610px;
  width: 100%;
  margin: 0 auto;
}
.adv__box-text {
  margin-bottom: 17px;
  color: #000;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.adv__box-link {
  color: #0035ff;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration-line: underline;
}
.adv__box-img .mobile {
  display: none;
}

.conclusion {
  background-color: #fff;
  padding: 45px 0 74px 0;
}
.conclusion__title {
  margin-bottom: 26px;
}
.conclusion__text {
  color: #202326;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.rating {
  background-color: #ededed;
  padding: 40px 0;
}
.rating__title {
  color: #202326;
  font-family: "Consolas", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 10px;
}
.rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.rating__stars input {
  display: none;
}
.rating__stars input:checked ~ label:before {
  content: url("../images/star-yellow.svg");
}
.rating__stars label:before {
  content: url("../images/star-grey.svg");
}
.rating__form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
  width: 100%;
}
.rating__form-textarea, .rating__form-input {
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  background: #fff;
  color: #222;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  outline-color: #7f7f7f;
  outline-width: 2px;
  padding: 0 20px;
}
.rating__form-textarea::-webkit-input-placeholder, .rating__form-input::-webkit-input-placeholder {
  color: #777;
}
.rating__form-textarea::-moz-placeholder, .rating__form-input::-moz-placeholder {
  color: #777;
}
.rating__form-textarea:-ms-input-placeholder, .rating__form-input:-ms-input-placeholder {
  color: #777;
}
.rating__form-textarea::-ms-input-placeholder, .rating__form-input::-ms-input-placeholder {
  color: #777;
}
.rating__form-textarea::placeholder, .rating__form-input::placeholder {
  color: #777;
}
.rating__form-input {
  max-width: 226px;
  width: 100%;
  height: 50px;
}
.rating__form-textarea {
  display: block;
  padding: 20px;
  resize: none;
  height: 120px;
  max-width: 738px;
  width: 100%;
  margin-bottom: 20px;
}
.rating__form-submit {
  max-width: 226px;
  width: 100%;
  height: 44px;
  background-color: #0062ff;
  color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.rating__select {
  max-width: 226px;
  width: 100%;
  position: relative;
}
.rating__select-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background: #fff;
  height: 50px;
  cursor: pointer;
  color: #777;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
}
.rating__select-current.active {
  color: #222;
}
.rating__select-current.border {
  border-color: #7f7f7f;
}
.rating__select-current img {
  width: 10px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.rating__select-current img.active {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rating__select-items {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(154, 154, 154, 0.5);
  box-shadow: 0px 2px 15px 0px rgba(154, 154, 154, 0.5);
  position: absolute;
  top: 60px;
  display: none;
  width: 100%;
}
.rating__select-items.active {
  display: block;
}
.rating__select-item {
  width: 100%;
  height: 45px;
  border-left: 7px solid transparent;
  padding: 0 10px 0 18px;
  color: #222;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.rating__select-item:hover {
  border-color: #0062ff;
  background-color: #ededed;
}

.posts {
  padding: 60px 0 75px 0;
  background-color: #fff;
}
.posts__title {
  margin-bottom: 40px;
}
.posts .swiper-slide {
  width: 226px;
}
.posts .swiper-img {
  width: 100%;
  margin-bottom: 19px;
}
.posts .swiper-text {
  color: #272522;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (max-width: 767px) {
  .container.special {
    padding-right: 0;
  }
  .title {
    font-size: 23px;
    font-weight: 700;
    line-height: 36px;
  }
  .jspath__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .jspath__title {
    font-size: 23px;
    line-height: 25px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 190px;
    flex: 0 0 190px;
  }
  .jspath__line {
    max-width: 30px;
  }
  .jspath__books {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .jspath__books-date {
    display: none;
  }
  .jspath__books-img {
    overflow-x: auto;
    position: relative;
    padding-bottom: 15px;
  }
  .jspath__books-img img {
    width: 738px;
  }
  .jspath__books-img .simplebar-scrollbar {
    top: -2px !important;
    bottom: 0;
    min-height: 0;
    height: 7px;
  }
  .jspath__books-img .simplebar-scrollbar::before {
    background-color: #0062ff;
    opacity: 1;
  }
  .jspath__books-img .simplebar-track {
    background-color: #e6e6e6;
    border-radius: 5px;
  }
  .jspath__books-img .simplebar-track.simplebar-horizontal {
    margin-right: 20px;
    height: 3px;
  }
  .jspath__books-subtext {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    padding: 0;
    margin-bottom: 26px;
    border: none;
  }
  .jspath__books-subtext::after {
    display: none;
  }
  .quote {
    padding: 33px 0 56px 0;
  }
  .quote__title {
    margin-bottom: 12px;
  }
  .quote__inner {
    gap: 19px;
  }
  .quote__block-text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .adv {
    padding: 22px 0 20px 0;
  }
  .adv__box-text {
    margin-bottom: 14px;
  }
  .adv__box-img .mobile {
    display: block;
  }
  .adv__box-img .desc {
    display: none;
  }
  .conclusion {
    padding: 25px 0 30px 0;
  }
  .conclusion__title {
    margin-bottom: 20px;
  }
  .conclusion__text {
    font-size: 14px;
    line-height: 18px;
  }
  .rating__title {
    margin-bottom: 15px;
  }
  .rating__stars {
    margin-bottom: 20px;
  }
  .rating__form-box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }
  .rating__form-input {
    max-width: 100%;
  }
  .rating__form-textarea {
    margin-bottom: 10px;
  }
  .rating__select {
    max-width: 100%;
  }
  .posts {
    padding: 36px 0 66px 0;
  }
  .posts__title {
    margin-bottom: 25px;
  }
  .posts .swiper-wrapper {
    padding-bottom: 35px;
  }
  .posts .swiper-pagination {
    bottom: 0;
  }
  .posts .swiper-pagination-bullet {
    margin: 0 10px !important;
    height: 12px !important;
    width: 12px !important;
  }
}